#sketch {
  border: 1px solid black;
}

img {
  border: 1px solid black;
  pointer-events: none;
}

textarea {
  resize: none;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.square {
  display: inline-block;
}

.complete {
  font-size: 70px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 301px;
  width: 301px;
}

.guesses {
  padding: 10px;
}

#user {
  position: absolute;
  top: 10px;
  right: 10px;
}