#sketch {
  border: 1px solid black;
}

img {
  border: 1px solid black;
  pointer-events: none;
}

textarea {
  resize: none;
}

.title {
  font-size: 30px;
}

.square, .ng-scope {
  display: inline-block;
}