<div id="container">
  <span class="title">Draw a SQUARE!</span>
  <button ng-click="back()">NEVERMIND!</button><br><br>
  <script type="text/javascript">
    $(function() {
      $('#sketch').sketch();
    });
  </script>

  <canvas id="sketch" width="300" height="300"></canvas><br>
  <a href="#sketch" data-download="png" ng-click="submit()">Submit!</a>
  <div id="start">
    <button ng-click="startTimer(); getWord()">START!</button>
  </div><br>
  <div id="info">
    <span>{{ timer + ' seconds left!' }}</span><br>
    <span>{{ 'YOUR WORD IS: ' + randomWord }}</span><br>
  </div>
  <div id="user">
    LOGGED IN AS - {{ user }}<br>
    <button ng-click="logout()">LOGOUT</button>
  <div>
</div>