<div id="container">
  <span class="title">Square PAGE</span>
  <div id="giveup">
    <button ng-click="noClue()">I HAVE NO CLUE!!!</button>
  </div><br><br>
  <div ng-init="loadSquare()">
    <img class="drawn" src="{{ data.URI }}">
  </div>
  <form ng-submit="takeAGuess()">
    <input ng-model="guess" placeholder="What is this?" autofocus></input>
    <div id="guess">
      <button>GUESS!</button><br>
    </div>
  </form>
  <div class="guesses" ng-Repeat="guess in data.guesses track by $index">
    <span>{{ guess }}</span>
  </div>
  <div id="user">
    LOGGED IN AS - {{ user }}<br>
    <button ng-click="logout()">LOGOUT</button>
  <div>
</div>