<div ng-init="login()" id="container">
  <span class="title">Squares PAGE</span>
  <button ng-click="drawOne()">DRAW A SQUARE!!!</button><br><br>
  <div class="squares" ng-repeat="square in data.squares track by $index">
    <div ng-bind-html="cover"></div>
    <div ng-if="done(square)">
      <div class="complete">SOLVED</div>
    </div>
    <div ng-if="!done(square)">
      <div class="incomplete">{{ 'Drawn by ' + square.artist }}</div>
    </div>
    <div class="square" ng-click="critique()">
      <img class="drawn" src="{{ square.URI }}">
    </div>
  </div>
  <div id="user">
    LOGGED IN AS - {{ user }}<br>
    <button ng-click="logout()">LOGOUT</button>
  <div>
</div>