<div id="container">
  <span class="title">Square PAGE</span>
  <div ng-init="loadSquare()">
    <img src="{{ data.URI }}">
  </div><br>
  <form ng-submit="takeAGuess()">
    <input ng-model="guess" placeholder="What the heck is that??"></input><br>
    <button>GUESS!</button><button ng-click="noClue()">I HAVE NO CLUE!!!</button><br>
  </form>
  <div class="guesses" ng-Repeat="guess in data.guesses track by $index">
    <span>{{ guess }}</span>
  </div>
  <div id="user">
    LOGGED IN AS - {{ user }}<br>
    <button ng-click="logout()">LOGOUT</button>
  <div>
</div>